
/*? TITLE */
h1 {
    text-align: center;
}

body {
    background-color: rgb(229, 226, 226);
}

.container {
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}

/*? GENERAL STYLE DIVs WITH class="marker" */
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

/*?  MARKER ONE */
/** rgb function applied */
.red {
    background-color: rgb(255, 0, 0);
    background: linear-gradient(rgb(122, 74, 14),
                                rgb(245, 62, 113), 
                                rgb(162, 27, 27));
}

/*? MARKER TWO */
/** hexa values applied */
.green {
    background: #007F00;
    background: linear-gradient(#55680d,
                                #71f53e,
                                #116c31);

}

/*? MARKER THREE */
/** hsl function applied */
.blue {
    background: hsl(240, 100%, 50%);
    background: linear-gradient(hsl(186, 76%, 16%),
                                hsl(223, 90%, 60%),
                                hsl(240, 56%, 42%));
}